@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  border-bottom: 2px solid white;
}

.scroll{
  scrollbar-width: thin;        
  scrollbar-color: #fff transparent;  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
  
}